.calendar-list-container{
  padding: 0rem 2rem;
}

.calendar-list {
  margin-bottom: 2rem;
  .calendar-list-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;

    align-items: center;
    span {
      font-weight: bold;
      font-family: $font-stack;

      flex: 1;
    }
    .arrow-img {
      text-align: right;
      cursor: pointer;

      flex: 0 0 25px;
      img {
        width: auto;
        height: 10px;
        transition: transform 0.2s linear;
      }
    }
  }
}

.calendar-list-items {
  -webkit-transition: max-height 0.5s cubic-bezier(0, 1.05, 0, 1);
  -moz-transition: max-height 0.5s cubic-bezier(0, 1.05, 0, 1);
  transition: max-height 0.5s cubic-bezier(0, 1.05, 0, 1);
}

.calendar-list-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
  height: 20px;

  align-items: center;

  .dot-container {
    flex: 0 0 10px;
    justify-content: center;
    align-items: center;

    .dot {
      cursor: pointer;
      width: 10px;
      height: 10px;
      border-radius: 50px;
    }
  }
  .title {
    margin-left: 20px;
    font-size: 0.85rem;
    font-family: $font-stack;
  }
}
