.calendar-container {
  padding-top: 1.5rem;
  display: flex;
  flex-flow: column;
  height: calc(100% - 55px - 1.5rem);
}

.column-headers {
  flex: 0 0 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid $grey-border;
  padding-bottom: 0.5rem;
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13%;
  }
}

.time {
  width: 9%;
  color: #37474F;
  opacity: 0.6;
  font-size: 0.8rem;
  height: 35px;
}

.all-day-events {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: white;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.10), 0px 2px 6px 0px rgba(0,0,0,0.06);
  border-bottom: 1px solid $light-grey-border;

  .time {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .item {
    width: 13%;
    height: 35px;
    border-left: 1px solid $grey-border;
  }
}

.main-calendar {
  flex: 0 1 auto;
  overflow-y: auto;
  border-bottom: 1px solid $grey-border;
  position: relative;
  .row {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    .time {
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      span {
        padding-right: 1rem;
        padding-top: 0.15rem;
      }
    }
    .item {
      width: 13%;
      height: 35px;
      border-left: 1px solid $grey-border;
      border-bottom: 1px solid $light-grey-border;
    }
  }
}

.event-entry {
  background-color: #03A9F4;
  height: 70px;
  width: calc(13% - 4px);
  position: absolute;
  border-radius: 5px;
}

.integrations-calendar {
  flex: 0 0 auto;
  overflow-y: auto;
  .row {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    .plugin {
      width: 9%;
      color: #37474F;
      opacity: 0.6;
      font-size: 0.8rem;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .item {
      width: 13%;
      height: 45px;
      border-left: 1px solid $grey-border;
      border-bottom: 1px solid $light-grey-border;
    }
  }
}

.editor-panel {
  height: 215px;
  width: 250px;
  position: absolute;
  border-radius: 5px;
  background-color: $light-grey;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.10), 0px 2px 6px 0px rgba(0,0,0,0.06);

  display: flex;
  flex-direction: column;

  input {
    padding: 0rem;
    text-decoration: none;
    border: 0px;
    outline: 0;
    font-family: $font-stack;
  }

  .top-bar {
    flex: 0 0 5px;
    background-color: $blue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .header {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0.65rem 0rem;
    border-bottom: 1px solid $grey-border;
    margin-bottom: 0.5rem;
    .dot-container {
      flex: 0 0 50px;
      display: flex;
      justify-content: center;
      .dot {
        background-color: $blue;
        height: 10px;
        width: 10px;
        border-radius: 50px;
      }
    }
    .name {
      font-weight: bold;
      font-size: 0.9rem;
      flex: 1 1 auto;
      cursor: pointer;
    }
    .name-input {
      font-weight: bold;
      font-size: 0.9rem;
    }
  }
  .info {
    display: flex;
    flex-direction: column;
    border-top: 1px solid $grey-border;
    .item {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: white;
      border-bottom: 1px solid $grey-border;
      padding: 0.75rem;
      font-size: 0.8rem;
      .arrow-icon {
        width: 8px;
        margin-left: 5px;
      }
      .icon {
        width: 12px;
        margin-right: 10px;
      }
      .key {
        flex: 1;
      }
      .value {
        flex: 1;
        text-align: right;
      }
      .calendar {
        flex: 1;
        background-color: white;
        color: #424242 !important;
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: 0;
        border: 0;
        text-decoration: none;
      }
    }
  }
}
