.cal-controls-container {
  height: $header-container-height;
  border-bottom: 1px solid $grey-border;

  @extend .flex-row-valign;
}


.left-side {
  padding-left: 1rem;

  flex: 1;
  @extend .flex-row-valign;
  .month-year {
    padding: 0rem 1rem;
  }
}

.right-side {
  padding-right: 1rem;

  flex: 1;
  @extend .flex-row-valign;
  justify-content: flex-end;
}

.day-control-buttons {
  border: 1px solid $grey-border;
  border-radius: 5px;

  @extend .flex-row-valign;
  .go-to-today {
    padding: 0.15rem 1rem 0.35rem 1rem;
    border-right: 1px solid $grey-border;
    border-left: 1px solid $grey-border;
    span {
      font-weight: bold;
      font-size: 0.75rem;
    }
  }
  .arrow {
    padding: 0.25rem 0.5rem;
    img {
      width: auto;
      height: 10px;
    }
  }
  .back, {
    border-right: none;
  }
  .forward, {
    border-left: none;
  }
}

.week-month-buttons {
  border: 1px solid $grey-border;
  border-radius: 5px;
  font-weight: bold;

  @extend .flex-row-valign;
  .select-button {
    padding: 0.15rem 0.75rem 0.35rem 0.75rem;
    width: 65px;
    text-align: center;
    span {
      height: 10px;
      font-size: 0.75rem;
    }
  }
  .select-week {
    border-right: 0.5px solid $grey-border;

    @extend .select-button;
  }
  .select-month {
    border-left: 0.5px solid $grey-border;

    @extend .select-button;
  }
}

.settings {
  margin-left: 2rem;
  height: 30px;
  img {
    width: auto;
    height: 100%;
  }
}
