.cal-controls-container {
  height: $controls-container-height;
  border-bottom: 1px solid $grey-border;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: $box-shadow;
}

.left-side {
  padding-left: 1rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  .month-year {
    padding: 0rem 1rem;
    font-size: 0.9rem;
    .month {
      font-weight: bold;
    }
    .year {
      font-weight: normal;
    }
  }
}

.right-side {
  padding-right: 1rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.day-control-buttons {
  border: 1px solid $grey-border;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  .go-to-today {
    padding: 0.15rem 1rem 0.35rem 1rem;
    border-right: 1px solid $grey-border;
    border-left: 1px solid $grey-border;
    span {
      font-weight: bold;
      font-size: 0.75rem;
    }
  }
  .arrow {
    padding: 0.25rem 0.5rem;
    img {
      width: auto;
      height: 10px;
    }
  }
  .back {
    border-right: none;
  }
  .forward {
    border-left: none;
  }
}

.week-month-buttons {
  cursor: pointer;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  .select-button {
    padding: 0.15rem 0.2rem 0.35rem 0.2rem;
    width: 65px;
    text-align: center;
    span {
      height: 10px;
      font-size: 0.75rem;
    }
  }
  .select-week-active {
    @extend .select-button;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid $blue-border;
    background-color: $blue;
    border-right: 0.5px solid $blue-border;
    color: white;
  }
  .select-week {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid $grey-border;
    border-right: 0.5px solid $grey-border;
    @extend .select-button;
  }
  .select-month-active {
    @extend .select-button;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid $blue-border;
    background-color: $blue;
    border-left: 0.5px solid $blue-border;
    color: white;
  }
  .select-month {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid $grey-border;
    border-left: 0.5px solid $grey-border;
    @extend .select-button;
  }
}

.settings {
  margin-left: 2rem;
  margin-right: 1rem;
  height: 30px;
  img {
    width: auto;
    height: 100%;
  }
}
