.event-entry {
  width: calc(13% - 6px);
  position: absolute;
  border-radius: 5px;

  display: flex;
  flex-direction: row;

  .sidebar {
    flex: 0 0 4px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .content {
    flex: 0 1 auto;
    padding: 0.5rem;
    font-family: $font-stack;
    color: white;
    .title {
      font-weight: bold;
    }
  }
}

.preview-event {
  opacity: 0.5;
}

$day-increment-precent: 13%;
$base: 9%;

.Sun {
  left: calc(#{$base} + 1px);
}

.Mon {
  left: calc(#{$base} + 1 * #{$day-increment-precent} + 2px);
}

// Why does this look right as 1px ?
.Tue {
  left: calc(#{$base} + 2 * #{$day-increment-precent} + 1px);
}

.Wed {
  left: calc(#{$base} + 3 * #{$day-increment-precent} + 2px);
}

.Thu {
  left: calc(#{$base} + 4 * #{$day-increment-precent} + 2px);
}

.Fri {
  left: calc(#{$base} + 5 * #{$day-increment-precent} + 2px);
}

.Sat {
  left: calc(#{$base} + 6 * #{$day-increment-precent} + 2px);
}

$half-hour-increment: 35px;
// 2px and another 35px because the top row of cells is empty
$entry-top-margin: 1px;

// The additional 1px I think is for a border I did not account for
// The entry top margin are the borders between items? I think?
.start-7AM {
  top: 0 * $half-hour-increment + $entry-top-margin + 0px;
}

.start-730AM {
  top: 1 * $half-hour-increment + 1 * $entry-top-margin + 1px;
}

.start-8AM {
  top: 2 * $half-hour-increment + 2 * $entry-top-margin + 1px;
}

.start-830AM {
  top: 3 * $half-hour-increment + 3 * $entry-top-margin + 1px;
}

.start-9AM {
  top: 4 * $half-hour-increment + 4 * $entry-top-margin + 1px;
}

.start-930AM {
  top: 5 * $half-hour-increment + 5 * $entry-top-margin + 1px;
}

.start-10AM {
  top: 6 * $half-hour-increment + 6 * $entry-top-margin + 1px;
}

.start-1030AM {
  top: 7 * $half-hour-increment + 7 * $entry-top-margin + 1px;
}

.start-11AM {
  top: 8 * $half-hour-increment + 8 * $entry-top-margin + 1px;
}

.start-1130AM {
  top: 9 * $half-hour-increment + 9 * $entry-top-margin + 1px;
}

.start-12PM {
  top: 10 * $half-hour-increment + 10 * $entry-top-margin + 1px;
}

.start-1230PM {
  top: 11 * $half-hour-increment + 11 * $entry-top-margin + 1px;
}

.start-1PM {
  top: 12 * $half-hour-increment + 12 * $entry-top-margin + 1px;
}

.start-130PM {
  top: 13 * $half-hour-increment + 13 * $entry-top-margin + 1px;
}

.start-2PM {
  top: 14 * $half-hour-increment + 14 * $entry-top-margin + 1px;
}

.start-230PM {
  top: 15 * $half-hour-increment + 15 * $entry-top-margin + 1px;
}

.start-3PM {
  top: 16 * $half-hour-increment + 16 * $entry-top-margin + 1px;
}

.start-330PM {
  top: 17 * $half-hour-increment + 17 * $entry-top-margin + 1px;
}

.start-4PM {
  top: 18 * $half-hour-increment + 18 * $entry-top-margin + 1px;
}

.start-430PM {
  top: 19 * $half-hour-increment + 19 * $entry-top-margin + 1px;
}

.start-5PM {
  top: 20 * $half-hour-increment + 20 * $entry-top-margin + 1px;
}

$half-hour-block-height: 35px;

.length-5 {
  height: calc(1 * #{$half-hour-block-height});
}

.length-10 {
  height: calc(2 * #{$half-hour-block-height} + 1px);
}

.length-15 {
  height: calc(3 * #{$half-hour-block-height} + 2px);
}

.length-20 {
  height: calc(4 * #{$half-hour-block-height} + 3px);
}

.length-25 {
  height: calc(5 * #{$half-hour-block-height} + 4px);
}

.length-30 {
  height: calc(6 * #{$half-hour-block-height} + 5px);
}

.length-35 {
  height: calc(7 * #{$half-hour-block-height} + 6px);
}
