html {
  overflow: hidden;
  height: 100%;
  color: #424242;
}

.app-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.side-panel {
  height: calc(100vh - #{$header-container-height});
  background-color: $light-grey;

  flex: 0 0 215px;
}

.side-panel-header {
  background-color: $white;
  border-bottom: 1px solid $grey-border;
  height: $header-container-height;
  position: relative;
  z-index: 10;
  box-shadow: $box-shadow;
}

.calendar-panel {
  height: 100vh;
  border-left: 1px solid $grey-border;
  background-color: $white;

  flex: 1;
}
