html {
  color: #424242;
}

.app-container {
  display: flex;
  flex-direction: row;
}

.side-panel {
  flex: 0 0 215px;
  height: calc(100vh - $header-container-height);
  margin-top: $header-container-height;
  background-color: $light-grey;
  border-top: 1px solid $grey-border;
}

.calendar-panel {
  flex: 1;
  height: 100vh;
  background-color: $white;
  border-left: 1px solid $grey-border;
}

.calendar-list-container{
  padding: 1.25rem;
}
