.login-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 8rem;
}

.login-container {
  width: 500px;
  .introduction {
    color: $off-black;
    margin: 0rem;
    margin-bottom: 2rem;
    line-height: 1.5rem;
  }
  .buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .login-button {
    background-color: #F44336;
    color: white;
    font-weight: bold;
    padding: 1rem;
    border-radius: 5px;
  }
  a {
    text-decoration: none;
  }
}
