.all-calendar-list-container {
  display: flex;
  flex-direction: column;
}

.calendar-list {
  margin-bottom: 20px;
  .calendar-list-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;

    align-items: center;
    span {
      font-weight: bold;
      font-family: $font-stack;

      flex: 1;
    }
    .arrow-img {
      cursor: pointer;

      flex: 0 0 25px;
      img {
        width: auto;
        height: 10px;
      }
    }
  }
}

.calendar-list-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
  height: 20px;

  align-items: center;

  .dot-container {
    padding-right: 5px;

    flex: 0 0 25px;
    justify-content: center;
    align-items: center;

    .dot {
      width: 10px;
      height: 10px;
      border-radius: 50px;
    }
  }
  .title {
    font-size: 0.85rem;
    font-family: $font-stack;
  }
}
