$white: #FFFFFF;

$light-grey: #FAFAFA;
$grey-border: #E0E0E0;


$blue: #03A9F4;
$blue-border: #029BE0;

$font-stack: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;


$header-container-height: 55px;


.flex-row-valign {
  display: flex;
  flex-direction: row;
  align-items: center;
}
