$white: #FFFFFF;
$light-grey: #FAFAFA;
$light-grey-border: #F5F5F5;
$grey-border: #E0E0E0;
$grey: #E0E0E0;
$blue: #03A9F4;
$blue-border: #029BE0;
$blue-entry-sidebar: #039BE5;

$font-stack: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$header-container-height: 55px;

$half-hour-increment: 35px;

.flex-row-valign {
  display: flex;
  flex-direction: row;
  align-items: center;
}
